[Desktop Entry]
Type=Application
Exec=foot-terminal -#
Icon=${SNAP}/meta/gui/icon.svg
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;
MimeType=inode/chardevice

Name=Foot terminal emulator (snap)
GenericName=Terminal
Comment=A wayland native terminal emulator
